body {
    background-image: url('images/bricks.jpg');
    background-size: auto;
    background-blend-mode: luminosity;
    background-position: center;
    background-repeat: no-repeat ;
    background-size: cover;

}

html, body {
    font-size: 16px;
    font-family: 'PT Serif', serif;
    
}

h1 {
    font-family: 'PT Serif', serif;
}

.big-hole {
    width: 400px;
    float: right;
    margin: 10px;
}

.business-guy {
    width: 450px;
    float: left; 
    margin-right: 10px;
    margin-bottom: 10px;
}

.images {
    display: inline-block;
    width: 450px;
    margin: 10px;
    }

p { 
    font-family: 'PT Serif', serif;
    font-weight: 400;

}

h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3.052em;
    margin: 0;
    text-align: center;
}

ul {
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}

li {
    float: left;
}
li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

li a:hover {
    background-color: greenyellow;
}

.align-left {
    float: left;
    margin-right: 15px;
    width: 450px;
}

.align-right {
    float: right;
    margin-left: 15px;
    width: 450px;
}
