body {
    background-image: url('images/bricks.jpg');
    background-size: auto;
    background-blend-mode: luminosity;
    background-position: center;
    background-repeat: no-repeat ;
    background-size: cover;
    margin: 0;

}

header {
    background-color:gray;
    color: white;
    padding: 15px;
    text-align: center;
}
#container {
    margin: 10px;
}

#navbar {
    overflow: hidden;
    background-color:gray;
    border-bottom: 15px solid;
    border-bottom-color: greenyellow;
}
#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}
#navbar a:hover {
    background-color: greenyellow;
}


html, body {
    font-size: 16px;
    font-family: 'PT Serif', serif;
    
}

h1 {
    font-family: 'PT Serif', serif;
    margin: 0;
}





.images {
    display: inline-block;
    width: 450px;
    margin: 10px;
    }

p { 
    font-family: 'PT Serif', serif;
    font-weight: 400;

}

h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3.052em;
    margin: 0;
    text-align: center;
}





.align-left {
    float: left;
    margin-right: 10px;
    width: 450px;
}

.align-right {
    float: right;
    margin-left: 10px;
    width: 600px;
}
.align-left_1 {
    float: left;
    margin-right: 10px;
    width: 600px;

}